//VARIABLES GLOBALES
$alto-cerebro:40px;
$ancho-cerebro:40px;
$ancho-menu-lateral:210px;

$ancho-letra-menu-lateral-mobile:16px;
$ancho-letra-menu-lateral-tablet: $ancho-letra-menu-lateral-mobile+ 5px;






