@import url("https://fonts.googleapis.com/css?family=Lato|Lato");
@import url("https://fonts.googleapis.com/css?family=Lora");
@media screen and (max-width: 544px) {
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start; }

  .flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto; }

  .flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto; }

  .flex-item:nth-child(3) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto; }

  #header {
    height: 60px;
    font-size: 20px;
    background: #A80201;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto; }

  #header span {
    margin: 5px 5px 5px 5px; }

  #header a {
    text-decoration: none;
    color: white; }

  #header a:hover {
    text-decoration: none;
    color: white; }

  body {
    font-family: Lato;
    width: 100%;
    overflow-x: hidden;
    color: black; }

  .separador-vacio {
    height: 70px; }

  .border-logo {
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: green;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 3px 0 0 rgba(0, 0, 0, 0.19); }

  .logo-rotate {
    width: 40px;
    height: 40px;
    color: white;
    margin-left: 60px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; }

  .logo-rotate:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

  .logo_present {
    width: 50%;
    height: 50%; }

  .side-nav-bar {
    font-size: 15px; }

  .pie_pagina {
    background-color: #C5C9B3;
    height: 50px; }

  .pie_pagina p {
    position: relative;
    top: 35%; } }
@media screen and (min-width: 544px) {
  .flex-content {
    display: flex; }

  .flex-space-between {
    justify-content: space-between; }

  #header {
    height: 60px;
    font-size: 25px;
    background: #A80201;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto; }

  #header span {
    margin: 5px 5px 5px 5px; }

  #header a {
    text-decoration: none;
    color: white;
    float: left; }

  #header a:hover {
    text-decoration: none;
    color: white; }

  body {
    font-family: Lato;
    width: 100%;
    overflow-x: hidden;
    color: black; }

  .separador-vacio {
    height: 70px; }

  #wrapper.toggled #sidebar-wrapper {
    width: 310px; }

  .sidebar-nav li a {
    font-size: 21px; }

  .border-logo {
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: green;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 3px 0 0 rgba(0, 0, 0, 0.19); }

  .logo_present {
    width: 45%;
    height: 45%; }

  .side-nav-bar {
    font-size: 80px; }

  .logo-rotate {
    width: 50px;
    height: 50px;
    color: white;
    margin-left: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; }

  .logo-rotate:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

  .fixed-bottom {
    bottom: -150%;
    position: inherit; }

  .pie_pagina {
    background-color: #C5C9B3;
    height: 50px; }

  .pie_pagina p {
    position: relative;
    top: 35%; } }
@media screen and (min-width: 768px) {
  .flex-content {
    display: flex; }

  .flex-space-between {
    justify-content: space-between; }

  #header {
    height: 60px;
    font-size: 25px;
    background: #A80201;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    margin-left: auto; }

  #header span {
    margin: 5px 5px 5px 5px; }

  #header a {
    text-decoration: none;
    color: white;
    float: left; }

  #header a:hover {
    text-decoration: none;
    color: white; }

  body {
    font-family: Lato;
    width: 100%;
    overflow-x: hidden;
    color: black; }

  .separador-vacio {
    height: 70px; }

  .border-logo {
    border-radius: 25px;
    margin: 5px 5px 5px 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: green;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 3px 0 0 rgba(0, 0, 0, 0.19); }

  .logo_present {
    width: 45%;
    height: 45%; }

  .side-nav-bar {
    font-size: 80px; }

  .logo-rotate {
    width: 50px;
    height: 50px;
    color: white;
    margin-left: 50px;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; }

  .logo-rotate:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

  .fixed-bottom {
    bottom: -150%;
    position: inherit; }

  .pie_pagina {
    background-color: #C5C9B3;
    height: 50px; }

  .pie_pagina p {
    position: relative;
    top: 35%; } }

/*# sourceMappingURL=home_styles.css.map */
